@use './variables/variables' as vars;
@use './helpers/mixnes' as mix;
@use './helpers/colors' as colors;
@use './helpers/spacess' as spacess;
body{
    background-color: vars.$error;
}

  @include mix.breakpoint-max('sm') {
    body {
      background-color: red;
    }
  }
  
  @include mix.breakpoint-max('md') {
    body {
      background-color: green;
    }
  }
  
  @include mix.breakpoint-max('lg') {
    body {
      background-color: yellow;
    }
  }
  
  @include mix.breakpoint-max('xl') {
    body {
      background-color: orange;
    }
  }
