@use './helpers/mixnes' as *;

body{
    background-color: cadetblue;
}

$colors:(
    'primary':blue,
    'secondary':green,
    'gray100':#f7fafc,
    'gray200':#edf2f7,
    'gray300':#e2e8f0,
    'gray400':#cbd5e0,
    'gray500':#a0aec0,
    'gray600':#718096,
    'gray700':#4a5568,
    'gray800':#2d3748,
    'gray900':#1a202c,
    'Error': red,
    'Success': olive,
    'Warning': orange,
);

@each $name ,$color in $colors{
    .bg-#{$name}{
        background-color:$color;
        color:$color;
    }
}

$MP:(
    'ml':'margin-left',
    'mr':'margin-right',
    'mt':'margin-top',
    'mb':'margin-bottom',
    'pl':'padding-left',
    'pr':'padding-right',
    'pt':'padding-top',
    'pb':'padding-bottom',
    'mh': (
        'margin-left',
        'margin-right'
    ),
    'mv': (
        'margin-top',
        'margin-bottom'
    ),
    'ma':(
        'margin-left',
        'margin-right',
        'margin-top',
        'margin-bottom'
    ),
    'ph': (
        'padding-left',
        'padding-right'
    ),
    'pv': (
        'padding-top',
        'padding-bottom'
    ),
    'pa': (
        'padding-left',
        'padding-right',
        'padding-top',
        'padding-bottom')

    
);

$sizes:(
    'xxl':30px,
    'xl':25px,
    'lg':20px,
    'md':15px,
    'sm':10px,
    'xs':5px,
);


@each $direction, $val in $MP {
    @each $type, $value in $sizes {
      .#{$direction}-#{$type} {
        @if type-of($val) == 'list' {
          @each $property in $val {
            #{$property}: $value;
          }
        } @else {
          #{$val}: $value;
        }
      }
    }
  }
   
